<div class="bg-white py-24 sm:py-32 lg:py-40">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="sm:text-center">
      <p class="mt-2 text-3xl open-banking-sitio-publico tracking-tight text-gray-900 sm:text-4xl">Oportunidades para innovar y transformar tu empresa</p>
    </div>

    <div class="mt-20 max-w-lg sm:mx-auto md:max-w-none">
      <div class="grid grid-cols-4 gap-y-16 md:grid-cols-4 md:gap-x-12 md:gap-y-16 content-center">
        
        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row items-center ">
          <div class="sm:min-w-0 sm:flex-1 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="orange" class="w-12 h-12"  margin ="center">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75z" />
            </svg>
            <p class="text-lg text-center font-semibold leading-8 text-gray-900">Innovador</p>
            <p class="mt-2 text-base text-center leading-7 text-gray-600">Genera nuevos modelos de negocio basado en productos y servicios innovadores.</p>
          </div>
        </div>

        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row text-align" >
          <div class="sm:min-w-0 sm:flex-1 content-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 -60 50 24" stroke-width="1.5" stroke="orange" class="w-12 h-12" >
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
            </svg>
            <p class="text-lg text-center font-semibold leading-8 text-gray-900">Seguros</p>
            <p class="mt-2 text-base text-center leading-7 text-gray-600">Genera nuevos modelos de negocio basado en productos y servicios innovadores.</p>
          </div>
        </div>
       
        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row align-items:center">
          <div class="sm:min-w-0 sm:flex-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="orange" class="w-12 h-12">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
            </svg>
            <p class="text-lg text-center font-semibold leading-8 text-gray-900">Personalizado</p>
            <p class="mt-2 text-base text-center leading-7 text-gray-600">Nos aseguramos de entregar nuestros API Products enfocandonos en tus necesidades.</p>
          </div>
        </div>

        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
          <div class="sm:min-w-0 sm:flex-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="orange" class="w-12 h-12">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
            </svg>
            <p class="text-lg  text-center font-semibold leading-8 text-gray-900">Rápido</p>
            <p class="mt-2 text-base text-center leading-7 text-gray-600">Te entregamos un ambiente de prueba Sandbox para que puedas probar rapido nuestros API Products.</p>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>