.v-line{
    border-left: thick solid #000;
    border-left-width: 2px;
    height:100%;
    left: 50%;
    //position: absolute;
   }

   .icon{
    display:flex;
    align-items:center;
    justify-content:center;
   }