<div class="would-like-start-container bg-slate-100 flex flex-col px-5 md:flex-row md:px-20">
  <div class="would-like-start-left_content md:w-1/2">
    <img class="object-cover w-full m-0 border-0" src="../../../assets/fondo_te_gustaria_comenzar.png" alt="">
  </div>
  <div class="would-like-start-right_content w-full bg-slate-100 px-5 py-10 md:px-32 md:py-40 md:w-1/2">
    <h1 class="font-bold text-3xl text-gray-800 mb-5 md:text-3xl">¿Te gustaría comenzar?</h1>
    <p class="font-medium text-gray-900 text-lg mb-5">Regístrate y comienza a construir nuevas soluciones con nuestros
      API Products</p>
    <button
      class="text-sm font-semibold bg-amber-500 text-white py-2 px-12 rounded-full w-full hover:bg-amber-600 md:w-auto transition-all">
      Regístrate</button>
  </div>
</div>