<div class="accessibility-bar w-full bg-gradient-to-r from-amber-500 to-orange-500">
  <div class="control-container flex justify-end content-center p-1.5 px-5 md:p-1.5 md:px-20">
    <p class="text-white text-xs mr-5 flex justify-end content-center p-0.5"><span>Accesibilidad:</span></p>
    <p class="text-white text-xs mr-1 flex justify-end content-center p-0.5 px-1 border rounded-l-full"><span>A</span></p>
    <p class="text-white text-sm mr-3 flex justify-end content-center p-1 py-0 border rounded-r-full"><span>A</span></p>
    <p class="text-white text-xs flex justify-end content-center border rounded-l-full w-3"></p>
    <p class="text-white text-xs flex justify-end content-center border rounded-r-full w-3 bg-white"></p>
  </div>
</div>
<nav
  class="bg-white shadow-md px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900 md:border-0">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a routerLink="/inicio" class="flex items-center text-black">
      <img src="../../../assets/Logo_BancoEstado.png" class="h-6 mr-1 sm:h-9" alt="Flowbite Logo" />
    </a>
    <button data-collapse-toggle="navbar-default" type="button"
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a routerLink="/inicio" [ngClass]="{'bg-amber-500 text-white':router.url.includes('/inicio')}"
            class="hover:bg-amber-500 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            aria-current="page">Inicio</a>
        </li>
        <li>
          <a routerLink="/apis" [ngClass]="{'bg-amber-500 text-white':router.url.includes('/apis')}"
            class="hover:bg-amber-500 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Nuestras
            APIS</a>
        </li>
        <li>
          <a routerLink="/soporte" [ngClass]="{'bg-amber-500 text-white':router.url.includes('/soporte')}"
            class="hover:bg-amber-500 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Soporte</a>
        </li>
        <li>
          <a routerLink="/registrarse" [ngClass]="{'bg-amber-500 text-white':router.url.includes('/registrarse')}"
            class="hover:bg-amber-500 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Regístrate</a>
        </li>
        <li>
          <a routerLink="/login" [ngClass]="{'bg-amber-500 text-white':router.url.includes('/login')}"
            class="hover:bg-amber-500 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Iniciar
            Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>