<div class="px-6">
  <div _ngcontent-syu-c26="" class="sm:text-center">
    <p _ngcontent-syu-c26="" class="mt-2 text-5xl open-banking-sitio-publico tracking-tight text-gray-900 sm:text-4xl">Conoce nuestras API's</p>
  </div>  
  
    <div class="swiper md:container mt-10 md:mx-auto">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="bg-white border border-gray-200 rounded-none shadow-md dark:bg-gray-800 dark:border-gray-700">
              <img class="object-cover object-center w-full h-72 bg-coolGray-500" src="./assets/autenticacion.png" alt=""/>
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Autenticación</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                <a href="#" class="inline-flex  px-3 py-2 text-sm font-medium text-white bg-amber-500 rounded-full hover:bg-amber-600 focus:ring-4 focus:outline-none dark:hover:bg-amber-500 shadow-md">
                    Ver más
                    
                </a>
            </div>
          </div>
        </div>
    
        <div class="swiper-slide">
          <div class="bg-white border border-gray-200 rounded-none shadow-md dark:bg-gray-800 dark:border-gray-700">
              <img class="object-cover object-center w-full h-72 bg-coolGray-500" src="./assets/Copia-pago-con-tarjeta.jpg" alt="" />
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Iniciador de Pago</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                <a href="#" class="inline-flex  px-3 py-2 text-sm font-medium text-white bg-amber-500 rounded-full hover:bg-amber-600 focus:ring-4 focus:outline-none  dark:hover:bg-amber-500 shadow-md">
                    Ver más
                    
                </a>
            </div>
          </div>
        </div>
    
        <div class="swiper-slide">
          <div class="bg-white border border-gray-200 rounded-none shadow-md dark:bg-gray-800 dark:border-gray-700">
              <img class="object-cover object-center w-full h-72 bg-coolGray-500" src="./assets/Satellite.gif" alt="" />
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Consulta Cartola</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                <a href="#" class="inline-flex  px-3 py-2 text-sm font-medium text-white bg-amber-500 rounded-full hover:bg-amber-600 focus:ring-4 focus:outline-none   dark:hover:bg-amber-500 shadow-md">
                    Ver más
                    
                </a>
            </div>
          </div>
        </div>
    
        <div class="swiper-slide">
          <div class="bg-white border border-gray-200 rounded-none shadow-md dark:bg-gray-800 dark:border-gray-700">
              <img class="object-cover object-center w-full h-72 bg-coolGray-500" src="./assets/saldo.jpg" alt="" />
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Consulta Saldo</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                <a href="#" class="inline-flex  px-3 py-2 text-sm font-medium text-white bg-amber-500 rounded-full hover:bg-amber-600 focus:ring-4 focus:outline-none   dark:hover:bg-amber-500 shadow-md">
                    Ver más
                    
                </a>
            </div>
          </div>
        </div>
    
        <div class="swiper-slide">
          <div class="bg-white border border-gray-200 rounded-none shadow-md dark:bg-gray-800 dark:border-gray-700">
              <img class="object-cover object-center w-full h-72 bg-coolGray-500" src="./assets/bancoestado1200.jpg" alt="" />
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Otros</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                <a href="#" class="inline-flex  px-3 py-2 text-sm font-medium text-white bg-amber-500 rounded-full hover:bg-amber-600 focus:ring-4 focus:outline-none   dark:hover:bg-amber-500 shadow-md">
                    Ver más
                    
                </a>
            </div>
          </div>
        </div>
  
      </div>
      <div class="swiper-pagination">sssss</div>
      <div class="swiper-button-prev bg-white -mr-2 lg:-mr-4 justify-center items-center w-10 h-10 rounded-full shadow focus:outline-none">
        <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-left w-6 h-6"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
      </div>
      <div class="swiper-button-next bg-white -mr-2 lg:-mr-4 flex justify-center items-center w-10 h-10 rounded-full shadow focus:outline-none">
        <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-right w-6 h-6"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
      </div>
    </div>
</div>
