<footer class="bg-neutral-500 mt-8">
  <div class="w-full">
    <div class="pt-8 pb-8 lg:pt-20 lg:pb-20">
      <div class="mx-auto container px-2 sm:px-4">
        <div class="flex flex-col items-center justify-between gap-6 lg:flex-row">
          <div>
            <img
              class="w-full h-10"
              src="./../../assets/logo-bancoestado.svg"
              alt=""
            />
          </div>
          <div class="flex flex-col gap-6 sm:flex-row lg:gap-8 xl:gap-12 text-white font-semibold">
            <a href="#">Soporte API Market</a>
            <a href="#">Preguntas Frecuentes</a>
            <a href="#">Términos y Condiciones</a>
            <a href="#">Aviso Legal</a>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-[#2c3038] py-4 lg:py-8">
      <p class="text-xs text-gray-300 text-center">
        &copy; 2023 BancoEstado. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>